---
http_interactions:
- request:
    method: get
    uri: https://api.kickfire.com/v2/company:(all)?ip=1.1.1.1&key=valid_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","results":1,"data":[{"CID":"12457","name":"APNIC","website":"apnic.net","street":"6
        Cordelia Street","city":"South Brisbane","regionShort":"","region":"QLD","postal":"4101","countryShort":"AU","country":"Australia","phone":"+61-7-3858-3100","employees":"100
        to 250","revenue":"$10,000,000 to $50,000,000","category":"Communications","sicCode":"48","category2":"Telecommunications","naicsCode":"517","latitude":"-27.4730618","longitude":"153.0142099","stockSymbol":"","facebook":"apnic","twitter":"apnic","linkedIn":"apnic","linkedInID":"31460","confidence":75,"isISP":1}]}'
  recorded_at: Tue, 27 Sep 2016 18:03:40 GMT
recorded_with: VCR 3.0.3
