---
http_interactions:
- request:
    method: get
    uri: https://api.kickfire.com/v2/company:(all)?ip=8.8.8.8&key=invalid%20key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","code":900,"message":"Authorization failed!","description":"Your
        API key or your domain is not matching our records. Please make sure your
        key is correct and your IP is authorized."}'
  recorded_at: Fri, 23 Sep 2016 18:45:16 GMT
recorded_with: VCR 3.0.3
