---
http_interactions:
- request:
    method: get
    uri: https://api.kickfire.com/v2/company:(all)?ip=8.8.8.8&key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","code":901,"message":"No API Key provided.","description":"Your
        query string is missing `key` parameter. Ex: ''&key=[your key here]''"}'
  recorded_at: Fri, 23 Sep 2016 18:45:19 GMT
recorded_with: VCR 3.0.3
